@import url('https://fonts.googleapis.com/css2?family=Neucha&display=swap');
.App{
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #2f74c0;
    font-family: 'Neucha', cursive;
}
.heading{
    text-transform: uppercase;
    font-size: 40px;
    margin: 30px 0;
    z-index: 1;
    text-align: center;
}
.form{
    width: 90%;
    display: flex;
    position: relative;
    align-items: center;
}
.input{
    padding: 20px 30px;
    font-size: 25px;
    border: none;
    transition: 0.3s;
    width: 100%;
    border-radius: 50px;
    box-shadow: inset 0 0 5px black;
}
.input:focus{
    box-shadow: 0 0 10px 1000px rgba(0, 0, 0, 0.5);
    outline: none;
}
.submit-btn{
    font-size: 15px;
    margin: 12px;
    width: 50px;
    height: 50px;
    border: none;
    right: 0%;
    position: absolute;
    border-radius: 50%;
    background-color: #2f74c0;
    color: white;
    transition: 0.2s all;
    box-shadow: 0 0 10px black;
}
.submit-btn:hover{
    background-color: #388ae2;
}
.submit-btn:active{
    transform: scale(0.8);
    box-shadow: 0 0 5px black;
}
.container{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    width: 90%;
}
.todo_single{
    display: flex;
    width: 100%;
    border-radius: 5px;
    padding: 20px;
    margin-top: 15px;
    background-color: rgb(220, 177, 70);
}
.todo__single_text{
    flex: 1;
    padding: 5px;
    border: none;
    font-size: 20px;
}
.icon{
    margin-left: 10px;
    font-size: 25px;
    cursor: pointer;
}
.text__input{
border-radius: 50px;
padding: 10px;
border: none;
}
.text__input:focus{
outline: none;
}
@media  (max-width:700px){
    .todo_single{
        width: 100%;
    }
}